@import "settings/settings";

.nav {
  position: fixed;
  background-color: $color-primary-white;
  z-index: 300;
  width: 100%;
  left: 0;
}

.wrapper {
  margin: 0px $layout-margin;
  border: $border-standard;
  display: flex;
  flex-direction: row-reverse;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    margin: 0 8px;
    background-color: white;
    height: 8px;
    top: -8px;
    left: 0;
  }
}

.navLink {
  display: block;
  padding: 8px 8px;
  border-left: $border-standard;
  text-transform: uppercase;
  float: right;
  font-weight: 400;
  color: black;
  text-decoration: none;
}
